<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>กรอกข้อมูล</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="fixed">
      ชื่อผู้ใช้
    </ion-label>
    <ion-input
      placeholder="ชื่อผู้ใช้"
      [(ngModel)]="postdata.Mname"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>ชนิดของยา</ion-label>
    <ion-select placeholder="เลือก" [(ngModel)]="postdata.medicineType">
      <ion-select-option value="ก่อนอาหาร">ก่อนอาหาร</ion-select-option>
      <ion-select-option value="หลังอาหาร">หลังอาหาร</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">
      ชื่อยา
    </ion-label>
    <ion-input placeholder="ชื่อยา" [(ngModel)]="postdata.medicine"></ion-input>
  </ion-item>

  <!-- <ion-item>
    <ion-label position="fixed">
      ชนิดของยา
    </ion-label>
    <ion-input
      placeholder="ชนิดของยา"
      [(ngModel)]="postdata.medicineType"
    ></ion-input>
  </ion-item> -->

  <ion-item>
    <ion-label position="fixed">
      คำบรรยาย
    </ion-label>
    <ion-input
      placeholder="คำบรรยาย"
      [(ngModel)]="postdata.description"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">เวลา</ion-label>
    <ion-datetime
      placeholder="เวลา"
      displayFormat="HH:mm"
      [(ngModel)]="postdata.time"
    ></ion-datetime>
  </ion-item>
  <br>
  <ion-button expand="block" (click)="onSave()" *ngIf="!isUpdate">บันทึก</ion-button>
  <ion-button expand="block" (click)="onUpdate()" *ngIf="isUpdate">แก้ไช</ion-button>

  {{noticeList}}
</ion-content>
