<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>รายชื่อครอบครัว</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClickAdd()">เพิ่มข้อมูล</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let family of families; let i = index">
    <br>
    <ion-img style="height: 100px;" [src]="family.img" *ngIf="family.img" ></ion-img>
    <ion-card-header>
      {{family.name}}
    </ion-card-header>
    <ion-card-content>
      <p>วันเกิด: {{family.birthDate | date: 'shortDate' || '-' }}</p>
      <p>อาการทางการแพทย์: {{family.symptoms || '-'}}</p>
      <p>อาการแพ้ยา: {{family.drugAllergy || '-'}}</p>
      <p>กรุ้ปเลือด: {{family.blood || '-' }}</p>
      <p>น้ำหนัก: {{family.weight || '-' }}</p>
      <p>ส่วนสูง: {{family.height || '-' }}</p>
    </ion-card-content>
    <div class="ion-text-right ion-padding">
      <ion-button (click)="onClickDoctorList(family, i)">การแจ้งเตือนนัดหมอ</ion-button>
      <ion-button (click)="onClickNotiList(family, i)">การแจ้งเตือนกินยา</ion-button>
      <br>
      <ion-button color="warning" (click)="onClickUpdate(family, i)">แก้ไข</ion-button>
      <ion-button color="danger" (click)="onClickRemove(i)">ลบ</ion-button>
    </div>
  </ion-card>
</ion-content>
